# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
nosetests.xml
htmlcov/

# Ruff
.ruff_cache/

# Sphinx
docs/_build/

# Cookiecutter test output
output/
dj-package/
dj_package/

# PyCharm
.idea/

# Plans
.plans/
